/*
/docs/yaml/
/cmd/wpm/winresources/versioninfo.json
/cmd/wpm/winresources/*.syso

# files
!go.mod
!go.sum
!bun.lock
!package.json
!LICENSE
!NOTICE.txt
!.gitignore
!.golangci.yml
!.editorconfig
!README.md
!docker-bake.hcl
!Dockerfile
!AGENTS.md
!CLAUDE.md
!schema.json
!.oxfmtrc.json
!.git-blame-ignore-revs

# directories
!cli
!cmd
!docs
!pkg
!.vscode
!install
!.github
!scripts
