/*
/cmd/wpm/winresources/versioninfo.json
/cmd/wpm/winresources/*.syso

# files
!go.mod
!go.sum
!LICENSE
!NOTICE.txt
!.gitignore
!.golangci.yml
!.editorconfig
!README.md
!docker-bake.hcl
!Dockerfile

# directories
!cli
!cmd
!pkg
!.github
!scripts
